In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
    builder.\
    master("local").\
    appName("basics").\
    getOrCreate()

In [2]:
df = spark.read.json(
    path="D:/learn-ab/learning-PySpark/sample-data/people.json"
)

In [3]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [5]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [6]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [7]:
from pyspark.sql.types import (
    StructField,
    StringType,
    IntegerType,
    StructType
)

In [8]:
data_schema = [
    StructField(name='age', dataType=IntegerType(), nullable=True),
    StructField(name='name', dataType=StringType(), nullable=True)
]
final_struc = StructType(fields=data_schema)

In [9]:
df = spark.read.json(
    path="D:/learn-ab/learning-PySpark/sample-data/people.json",
    schema=final_struc
)

In [10]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df['age']

Column<'age'>

In [12]:
type(df['age'])

pyspark.sql.column.Column

In [13]:
df.select('age')

DataFrame[age: int]

In [14]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [15]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [16]:
type(df.select('age').show())

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

NoneType

In [17]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [18]:
df.head(2).show()

AttributeError: 'list' object has no attribute 'show'

In [19]:
df.head(2)[0]

Row(age=None, name='Michael')

In [20]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [21]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [22]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
df.withColumn('new_age', df['age']).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|NULL|Michael|   NULL|
|  30|   Andy|     30|
|  19| Justin|     19|
+----+-------+-------+

In [24]:
df.withColumn('age_double', df['age']*2).show()

+----+-------+----------+
| age|   name|age_double|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [25]:
df.withColumns({'age_double': df['age']*2, 'age_square': df['age']**2}).show()

+----+-------+----------+----------+
| age|   name|age_double|age_square|
+----+-------+----------+----------+
|NULL|Michael|      NULL|      NULL|
|  30|   Andy|        60|     900.0|
|  19| Justin|        38|     361.0|
+----+-------+----------+----------+

In [26]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumnRenamed('age', 'new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   NULL|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [28]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df.createOrReplaceTempView('people')

In [30]:
res = spark.sql('select * from people')
res.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
res = spark.sql('select * from people where age=30')
res.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+